<ion-header>

  <ion-navbar color="primary" hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>护理不良事件上报·审核</ion-title>
    <ion-buttons end>
      <button ion-button (click)="goEventReport()">
        上报
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="hideList" style="text-align: center;padding: 10px;">暂时还没有待审核的事件</div>
  <ion-list *ngFor="let item of tableData" (click)="goAuditDetail(item)">
    <ion-item>
      <h2>{{item.EveresName}}</h2>
      <div item-end>{{item.SendtoDate}}</div>
    </ion-item>
    <ion-item no-lines>
      <h2 class="font-gray">上报人</h2>
      <div class="font-gray" item-end>{{item.OperatorName}}</div>
    </ion-item>
    <ion-item class="font-gray" no-lines>
      <h2 class="font-gray">发生时间</h2>
      <div class="font-gray" item-end>{{item.HappenedDate}}</div>
    </ion-item>
    <ion-item>
      <h2 class="font-gray">事件编号</h2>
      <div class="font-gray" item-end>{{item.EveresId}}</div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
